body{
    margin: 0;
    padding: 0;
}
.header-image{
    background: url('https://cdn.pixabay.com/photo/2015/11/26/22/28/girl-1064664_960_720.jpg');
    height: 60vh;
    background-size:cover;
    background-position:center 25%;
}
.cover{
    height: 60vh;
background:rgba(0,0,0,0.5);
}
ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
ul li{
    padding: 20px;
    text-transform: uppercase;
}
ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}
ul li a:hover{
    text-decoration: underline;
}
.box{
    margin-left: 100px;
}
.box h3{
    color: #ffffff;
    font-family: cursive;
    font-size: 30px;
}
.box .btn{
    width: 200px;
    padding: 15px;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background: rgba(0,191,255,1);
}
.box .btn:hover{
    opacity: 0.9;
}